extends layout/fe_master

block content
  if livros.length
    br
    h2.mb-4.text-primary Lista de Livros
    table.table.table-striped.table-hover
      thead.table-dark
        tr
          th Título
          th Autor
          th Gênero
          th Ações
      tbody
        each livro in livros
          tr
            td= livro.titulo
            td= livro.autor
            td= livro.genero
            td
              a.btn.btn-sm.btn-warning.me-2(href=`/livros/${livro.id}/editar`) Editar
              button.btn.btn-sm.btn-danger(
              type="button",
              onclick=`apagarLivro('${livro.id}')`
            ) Excluir
  else
    div.text-center.mt-5
      p.text-muted Nenhum livro cadastrado ainda.
      a.btn.btn-primary.mt-3(href="/livros/novo") Adicionar o primeiro livro
