extends layout/fe_master

block content
  .d-flex.justify-content-between.align-items-center
    h2.mb-4.text-primary Lista de Livros

    .text-end
      a.btn.btn-primary.btn-lg(
        data-bs-toggle="modal",
        data-bs-target="#modalNovoLivro"
      ) + Novo Livro

  if livros.length
    br
    table.table.table-striped.table-hover.mt-3
      thead.table-dark
        tr
          th Título
          th Autor
          th Gênero
          th.text-end Ações
      tbody
        each livro in livros
          tr
            td= livro.titulo
            td= livro.autor
            td= livro.genero
            td.text-end
              a.btn.btn-warning.btn-sm.me-2(
                href="#",
                data-bs-toggle="modal",
                data-bs-target="#modalNovoLivro",
                data-id=livro.id,
                data-titulo=livro.titulo,
                data-autor=livro.autor,
                data-genero=livro.genero
              ) Editar
              button.btn.btn-danger.btn-sm(
                type="button",
                onclick=`apagarLivro('${livro.id}')`
              ) Excluir
  else
    .text-center.mt-5
      p.text-muted Nenhum livro cadastrado ainda.
