doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Biblioteca #{title}
    link(rel="stylesheet", href="/css/styles.css")
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css",
      rel="stylesheet",
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT",
      crossorigin="anonymous"
    )
  body
    .d-flex.flex-column.min-vh-100
      header.bg-dark.text-white.py-4
        .container
          h1.mb-0 Biblioteca Virtual
          nav.mt-2
            ul.nav
              li.nav-item
                a.nav-link.text-white(href="/") Início
              li.nav-item 
                a.nav-link.text-white(href="/leitores") Leitores

      main.container.flex-grow-1
        block content

      // Modal para Adicionar/Editar Livro
      div.modal.fade(id="modalNovoLivro", tabindex="-1", aria-labelledby="modalNovoLivroLabel", aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-header
              h5.modal-title#modalNovoLivroLabel Adicionar/Editar Livro
              button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Fechar")
            div.modal-body
              form#formNovoLivro
                div.mb-3
                  label.form-label(for="titulo") Título
                  input.form-control(type="text", id="titulo", name="titulo", required)
                div.mb-3
                  label.form-label(for="autor") Autor
                  input.form-control(type="text", id="autor", name="autor", required)
                div.mb-3
                  label.form-label(for="genero") Gênero
                  input.form-control(type="text", id="genero", name="genero", required)
            div.modal-footer
              button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancelar
              button.btn.btn-primary(type="submit", form="formNovoLivro") Submeter

      // Modal para Adicionar/Editar Leitor
      div.modal.fade(id="modalNovoLeitor", tabindex="-1", aria-labelledby="modalNovoLeitorLabel", aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-header
              h5.modal-title#modalNovoLeitorLabel Adicionar/Editar Leitor
              button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Fechar")
            div.modal-body
              form#formNovoLeitor
                div.mb-3
                  label.form-label(for="nome") Nome
                  input.form-control(type="text", id="nome", name="nome", required)
                div.mb-3
                  label.form-label(for="email") Email
                  input.form-control(type="email", id="email", name="email", required)
            div.modal-footer
              button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancelar
              button.btn.btn-primary(type="submit", form="formNovoLeitor") Submeter

      footer.bg-light.text-center.py-3.mt-5
        p.mb-0 © 2025 Biblioteca Virtual

      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js", crossorigin="anonymous")
      script(src="/js/app.js")
